.blur-text(@strength: 13px) {
	color: transparent !important;
	text-shadow: 0 0 @strength #000;
}

.hover-effect-pale(@strength: 0.8, @animation: 250ms) {
	opacity: 1;
	transition: opacity @animation ease-in-out;
	&:hover {
		opacity: @strength;
	}
}
