@space-mp-0: 2px;
@space-mp-1: 4px;
@space-mp-2: 8px;
@space-mp-3: 16px;
@space-mp-4: 32px;
@space-mp-5: 64px;
@space-mp-6: 128px;
@space-mp-7: 256px;

// source: https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
