@import (reference) "../colors/pantone-coated.less";

@color-ORANGE_WHITE-background-1: @color-pc-1505-c;
@color-ORANGE_WHITE-background-2: @color-pc-1495-c;
@color-ORANGE_WHITE-background-3: @color-pc-1485-c;

@color-ORANGE_WHITE-foreground-1: @color-pc-cool-gray-1-c;
@color-ORANGE_WHITE-foreground-2: @color-pc-cool-gray-2-c;
@color-ORANGE_WHITE-foreground-3: @color-pc-cool-gray-3-c;
