@import (reference) "../colors/pantone-coated.less";
@import (reference) "./basics.less";

@color-TRANSPARENT_ORANGE-black-1: @color-pc-black-c;
@color-TRANSPARENT_ORANGE-black-2: @color-pc-black-c;
@color-TRANSPARENT_ORANGE-black-3: @color-pc-black-c;

@color-TRANSPARENT_ORANGE-white-1: white;
@color-TRANSPARENT_ORANGE-white-2: @color-pc-cool-gray-1-c;
@color-TRANSPARENT_ORANGE-white-3: @color-pc-cool-gray-2-c;

@color-TRANSPARENT_ORANGE-background-1: transparent;
@color-TRANSPARENT_ORANGE-background-2: transparent;
@color-TRANSPARENT_ORANGE-background-3: transparent;

@color-TRANSPARENT_ORANGE-foreground-1: @color-pc-1505-c;
@color-TRANSPARENT_ORANGE-foreground-2: @color-pc-1495-c;
@color-TRANSPARENT_ORANGE-foreground-3: @color-pc-1485-c;

@color-TRANSPARENT_ORANGE-error-1: @color-basic-red-1;
@color-TRANSPARENT_ORANGE-error-2: @color-basic-red-2;
@color-TRANSPARENT_ORANGE-error-3: @color-basic-red-3;

@color-TRANSPARENT_ORANGE-warn-1: @color-pc-1505-c;
@color-TRANSPARENT_ORANGE-warn-2: @color-pc-1495-c;
@color-TRANSPARENT_ORANGE-warn-3: @color-pc-1485-c;

@color-TRANSPARENT_ORANGE-info-1: @color-pc-286-c;
@color-TRANSPARENT_ORANGE-info-2: @color-pc-285-c;
@color-TRANSPARENT_ORANGE-info-3: @color-pc-284-c;
