@import (reference) "../colors/pantone-coated.less";

@color-WHITE_RED-background-1: @color-pc-427-c;
@color-WHITE_RED-background-2: @color-pc-428-c;
@color-WHITE_RED-background-3: @color-pc-429-c;

@color-WHITE_RED-foreground-1: @color-pc-185-c;
@color-WHITE_RED-foreground-2: @color-pc-186-c;
@color-WHITE_RED-foreground-3: @color-pc-187-c;

