@import (reference) "../colors/pantone-coated.less";
@import (reference) "./basics.less";

@color-WHITE_RED-black-1: @color-pc-black-c;
@color-WHITE_RED-black-2: @color-pc-black-c;
@color-WHITE_RED-black-3: @color-pc-black-c;

@color-WHITE_RED-white-1: white;
@color-WHITE_RED-white-2: @color-pc-cool-gray-1-c;
@color-WHITE_RED-white-3: @color-pc-cool-gray-2-c;

@color-WHITE_RED-background-1: @color-pc-427-c;
@color-WHITE_RED-background-2: @color-pc-428-c;
@color-WHITE_RED-background-3: @color-pc-429-c;

@color-WHITE_RED-foreground-1: @color-basic-red-1;
@color-WHITE_RED-foreground-2: @color-basic-red-2;
@color-WHITE_RED-foreground-3: @color-basic-red-3;

@color-WHITE_RED-error-1: @color-basic-red-1;
@color-WHITE_RED-error-2: @color-basic-red-2;
@color-WHITE_RED-error-3: @color-basic-red-3;

@color-WHITE_RED-warn-1: @color-pc-1505-c;
@color-WHITE_RED-warn-2: @color-pc-1495-c;
@color-WHITE_RED-warn-3: @color-pc-1485-c;

@color-WHITE_RED-info-1: @color-pc-286-c;
@color-WHITE_RED-info-2: @color-pc-285-c;
@color-WHITE_RED-info-3: @color-pc-284-c;
