@import (reference) "../colors/pantone-coated.less";

@color-WHITE_BLACK-background-1: @color-pc-427-c;
@color-WHITE_BLACK-background-2: @color-pc-428-c;
@color-WHITE_BLACK-background-3: @color-pc-429-c;

@color-WHITE_BLACK-foreground-1: @color-pc-neutral-black-c;
@color-WHITE_BLACK-foreground-2: @color-pc-black-6-c;
@color-WHITE_BLACK-foreground-3: @color-pc-black-3-c;

